<div class="config-page">
    <div class="content-container">
        <div class="config-page-contents shadow">
            <form [formGroup]="connectionForm"
                (ngSubmit)="onSubmitConnectionForm()">
                <div class="connection-input-rows row">
                    <div class="connection-inputs col-md-12">
                        <label for="portNameInput" class="connection-input-label form-label" >PORT NAME</label>
                        <select type="text" class="form-select connection-input-field form-control" id="portNameFormControl" formControlName="portName">
                            <option *ngFor="let port of portNames" class="connection-input-option" value={{port}}>{{port}}</option>
                        </select>                        
                    </div>
                    <div class="error-text" *ngIf="portNameEmpty">Port Name Required</div>

                    <div class="connection-inputs col-md-12">
                        <label for="baudRateInput" class="connection-input-label form-label" >BAUD RATE</label>
                        <select type="text" class="form-select connection-input-field form-control" id="baudRateFormControl" formControlName="baudRate">
                            <option *ngFor="let baud of baudRateValues" class="connection-input-option" value={{baud}}>{{baud}}</option>
                        </select>
                    </div>

                    <div class="connection-inputs col-md-12">
                        <label for="startBitInput" class="connection-input-label form-label" >DATA BIT</label>
                        <select type="text" class="form-select connection-input-field form-control" id="dataBitFormControl" formControlName="dataBit">
                            <option *ngFor="let data of dataBitValues" class="connection-input-option" value="{{data}}">{{data}}</option>
                        </select>
                    </div>                    

                    <div class="connection-inputs col-md-12">
                        <label for="stopBitInput" class="connection-input-label form-label" >STOP BIT</label>
                        <select type="text" class="form-select connection-input-field form-control" id="stopBitFormControl" formControlName="stopBit">
                            <option *ngFor="let data of stopBitValues" class="connection-input-option" value="{{data}}">{{data}}</option>
                        </select>
                    </div>

                    <div class="connection-inputs col-md-12">
                        <label for="parityInput" class="connection-input-label form-label" >PARITY</label>
                        <select type="text" class="form-select connection-input-field form-control" id="parityFormControl" formControlName="parity">
                            <option *ngFor="let parity of parityValues" class="connection-input-option" value={{parity}}>{{parity.toUpperCase()}}</option>
                        </select>
                    </div>

                    <div class="config-submit-button-container">
                        <button type="submit" class="btn config-submit-button">
                            CONNECT
                        </button>                        
                    </div>
                    <div class="connection-error-container" *ngIf="errorMessage.length != 0">
                        <div class="connection-error-message">
                            {{errorMessage}}
                        </div>
                    </div>                    
                </div>
            </form>
        </div>
    </div>
</div>