<div class="container-fluid" id="dashboard-div">
    <mat-tab-group mat-stretch-tabs="true" mat-align-tabs="start">
        <mat-tab label="Capture">
            <app-generate/>
            <!-- <app-capture></app-capture> -->
        </mat-tab>
        <mat-tab label="Generate">
            
        </mat-tab>
        <mat-tab label="Test">
            <app-test/>
        </mat-tab>
    </mat-tab-group>
    <button (click)="disconnect()" class="btn btn-danger disconnect-btn">Disconnect</button>
</div>
