.contain{
    background-color: #EDF2FB;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    padding-bottom: 300px;
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  p {
    max-width: 45%;
    color: grey;
  }
  
  h1 {
    font-size: 6rem;
    color: #5375C7;
  }
  
  h2 {
    font-size: 2.4rem;
    color: grey;
  }
  
  h1 img {
    width: 10%;
    animation: anim 1s infinite;
    opacity: 0.4;
  }
  
  a {
    background: #5375C7;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    margin-top: 30px;
  }
  
  @keyframes anim {
    0% {
      transform: scale(1.2);
    }
  }
  
  @media only screen and (max-width: 800px) {
    p {
      max-width: 80%;
    }
  }