nav{
    background-color: #5375C7 !important;
    padding: 1vh !important;
    min-height: 10vh;
}

.navbar-branding{
    font-size: 35px;
    color: white;
    font-weight: 900;
}

.navbar-disconnect-btn{
    padding-right: 20px;
}

.disconnect-btn{
    background-color: #FF5757 !important;
    color: white;
    font-weight: 500;
}