@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway:ital,wght@1,700&display=swap');

nav{
    background-color: #5375C7 !important;
    padding: 1vh !important;
    min-height: 10vh;
}

.navbar-branding{
    font-size: 30px;
    color: white;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}

@media(max-width: 300px){
    .navbar-branding{
        font-size: 20px;
    }
}

.navbar-disconnect-btn{
    padding-right: 20px;
}

.icon{
    vertical-align: sub;
    margin-right: 10px;
}