.app-container{
    padding: 0px !important;
    overflow-x: hidden;
}

.app-banner{
    padding-right: 0px !important;
    width: 100% !important;
}

.app-contents-container{
    min-height: 84vh !important;
    padding: 0px;
    background-color: #EDF2FB;
}

.app-contents{
    min-height: 84vh !important;
    padding-right: 0px !important;
}

.app-footer-container{
    min-height: 6vh;
}

.app-footer{
    padding-right: 0px !important;
}