<div class="generate-page">
    <div class="content-container">
        <div class="generate-page-contents shadow">
            <form [formGroup]="generateForm"
                (ngSubmit)="onSubmitGenerateForm()">
                <div class="generate-input-rows row">
                    <div class="generate-inputs col-md-12 input-padding">
                        <label for="signalTypeInput" class="generate-input-label form-label">SIGNAL TYPE</label>
                        <select type="text" class="form-select generate-input-field form-control" id="signalTypeFormControl" formControlName="signalType">
                            <option class="generate-input-option" value="sine" selected>Sine Wave</option>
                            <option class="generate-input-option" value="square">Square Wave</option>
                            <option class="generate-input-option" value="triangle">Triangle Wave</option>
                            <option class="generate-input-option" value="sawtooth">Saw Tooth Wave</option>
                        </select>
                    </div>

                    <div class="generate-inputs col-md-12">
                        <label for="peaktopeakInput" class="generate-input-label form-label">PEAK TO PEAK</label>                        
                        <div class="generate-input-field-slider row">
                            <div class="generate-slider-container col-sm-12 col-md-6 col-lg-8">
                                <mat-slider class="generate-slider" min=0 max=3.3 step=0.01>
                                    <input matSliderThumb formControlName="peakValue" [(ngModel)]="this.generateForm.value.peakValue">
                                </mat-slider>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-4">
                                <input type="text" class="form-control" 
                                value="{{this.generateForm.value.peakValue}} V" (change)="handlePeakChange($event.target)">
                            </div>
                        </div>                            
                    </div>

                    <div class="generate-inputs col-md-12">
                        <label for="frequencyInput" class="generate-input-label form-label">FREQUENCY</label>                        
                        <div class="generate-input-field-slider row">
                            <div class="generate-slider-container col-sm-12 col-md-6 col-lg-8">
                                <mat-slider class="generate-slider" min=0 max=100 step=1>
                                    <input matSliderThumb formControlName="frequencyValue" [(ngModel)]="this.generateForm.value.frequencyValue">
                                </mat-slider>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-4">
                                <input type="text" class="form-control" value="{{this.generateForm.value.frequencyValue}} Hz" (change)="handleFrequencyChange($event.target)">
                            </div>
                        </div>                            
                    </div>

                    <div class="generate-button-group">
                        <div class="generate-submit-buttons-container">

                            <div class="generate-single-button-container" *ngIf="show">
                                <button (click)="stopGenerate()" class="btn generate-submit-button btn-danger">STOP</button>
                            </div>
                            <div class="generate-single-button-container" *ngIf="!show">
                                <button type="submit" class="btn generate-submit-button">START</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>