.generate-page{
    width: 100%;
    min-height: calc(80vh - 48px);
    background-color: #EDF2FB;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-container{
    display: flex;
    justify-content: center;
}

.generate-page-contents{
    min-height: 60vh;    
    width: 60vw;
    background-color: white;
    border-radius: 25px;
    //box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media(max-width: 540px){
    .generate-page-contents{
        width: 100vw;
    }
}

.generate-input-rows{
    width: 100%;    
}

.generate-inputs{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.input-padding{
    margin-bottom: 30px;
}

.generate-input-field{
    width: 60%;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    border-color: rgb(173, 173, 173);
    appearance: menulist;
    background-image: none;
    //padding-right: 12px;
}

.generate-input-field:focus{    
    box-shadow: 0 2px 0 0 #86b7fe; 
    border-color: #86b7fe;    
}

.generate-input-option{
    padding-top: 20px;
    padding-bottom: 20px;
}

.generate-input-label{
    text-wrap: nowrap;
    align-self: self-end;
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
    width: 100px;
    margin-bottom: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.generate-input-field-slider{
    display: flex;
    width: 60%;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    border-color: rgb(173, 173, 173);
    appearance: menulist;
    background-image: none;
}

.generate-slider-container{
    // width: 60%;
    padding: 0;
}

.generate-slider{
    width: 80%;
}

.generate-button-group{
    display: flex;
    justify-content: center;
    width: 100%;
}

.generate-submit-buttons-container{    
    width: 50%;
    padding-top: 4%;
}

@media(min-width: 1220px){
    .generate-submit-buttons-container{
        display: flex;
        justify-content: space-around;
    }
}

.generate-single-button-container{
    display: flex;
    justify-content: center;    
    margin-bottom: 10px;
}

.generate-submit-button{
    background-color: #5375C7;
    border-radius: 50px;
    color: white;
    height: 50px;
    width: 165px;
    font-size: 18px;
    font-weight: 500;
}