<div class="row p-3 m-3" id="capture-div">
    <div class="col-lg-8 col-12" id="graph">
        <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height: '100%'}" 
        (chartInstance)="getChartInstance($event)"></canvasjs-chart>
        <div class="graph-spinner-container" *ngIf="isCaptureOn && dataPoints.length == 0">
            <div class="spinner-border graph-spinner" role="status">
                <span class="sr-only"></span>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-12" id="graph-menu">
        <div class="accordion" id="accordionExample">

            <div class="accordion-item">

                <h5 class="mb-0 accordion-header" id="ItemOne">
                    <button class="accordion-button" type="button" (click)="toggleAccordion('collapseOne')"
                        [attr.aria-expanded]="isAccordionOpen('collapseOne')" aria-controls="collapseOne">
                        PLOT SETTINGS
                    </button>
                </h5>
                <div id="collapseOne"
                    [ngClass]="{'collapse': !isAccordionOpen('collapseOne'), 'show': isAccordionOpen('collapseOne')}"
                    aria-labelledby="headingOne">
                    <div class="accordion-body">

                        <div class="capture-input-group">
                            <h5 >Axis Scale</h5>
                            <div>
                                <div class="capture-inputs">
                                    <label for="xaxis" class="capture-input-label form-label" >X-Axis </label>
                                    <select type="text" class="form-select capture-input-field form-control" id="xaxis" (change)="onXScaleChange(xAxisScale)" [formControl]="xAxisScale"
                                    >
                                        <option class="capture-input-option" value="0.5" >0.5x</option>
                                        <option class="capture-input-option" value="1" selected>1x</option>
                                        <option class="capture-input-option" value="2">2x</option>
                                    </select>
                                </div>    
                                <div class="capture-inputs">
                                    <label for="yaxis" class="capture-input-label form-label" >Y-Axis </label>
                                    <select type="text" class="form-select capture-input-field form-control" id="yaxis" (change)="onYScaleChange(yAxisScale)" [formControl]="yAxisScale"
                                    >
                                        <option class="capture-input-option" value="0.5" >0.5x</option>
                                        <option class="capture-input-option" value="1" selected>1x</option>
                                        <option class="capture-input-option" value="2">2x</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="capture-input-group">
                            <h5>Data Acquisition Rate</h5>
                            <div class="capture-inputs">
                                <input type="text" class="capture-input-field form-control" id="data-acquisition-rate" [formControl]="dataAcquisitionRate" (change)="onRateChange(dataAcquisitionRate)">
                            </div> 
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- Accordion Item 2 -->
            <div class="accordion-item">

                <h5 class="mb-0 accordion-header" id="itemTwo">
                    <button class="accordion-button" type="button" (click)="toggleAccordion('collapseTwo')"
                        [attr.aria-expanded]="isAccordionOpen('collapseTwo')" aria-controls="collapseTwo">
                        FETCH DATA
                    </button>
                </h5>

                <div id="collapseTwo"
                    [ngClass]="{'collapse': !isAccordionOpen('collapseTwo'), 'show': isAccordionOpen('collapseTwo')}"
                    aria-labelledby="headingTwo">
                    <div class="accordion-body">
                        <div>
                            <div class="capture-inputs">
                                <label for="frequency" class="capture-input-label form-label" >Frequency</label>
                                <input type="text" class="capture-input-field form-control" id="frequency" readonly [formControl]="frequency">
                            </div>    
                            <div class="capture-inputs">
                                <label for="peaktopeak" class="capture-input-label form-label" >Peak to Peak</label>
                                <input type="text" class="capture-input-field form-control" id="peaktopeak" readonly [formControl]="peakToPeak">
                            </div>
                            <div class="d-flex justify-content-center capture-btn-container">
                                <button class="btn btn-primary" (click)="fetchData()">FETCH</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center m-4">
            <button class="btn btn-primary" *ngIf="start" (click)="toggleStartStop()">START</button>
            <button class="btn btn-danger" *ngIf="!start" (click)="toggleStartStop()">STOP</button>
        </div>
    </div>
</div>