<div class="row p-3 m-3" id="capture-div">
    <div class="col-lg-8" id="graph">

    </div>
    <div class="col-lg-4" id="graph-menu">
        <div class="accordion" id="accordionExample">

            <div class="accordion-item">

                <h5 class="mb-0 accordion-header" id="ItemOne">
                    <button class="accordion-button" type="button" (click)="toggleAccordion('collapseOne')"
                        [attr.aria-expanded]="isAccordionOpen('collapseOne')" aria-controls="collapseOne">
                        PLOT SETTINGS
                    </button>
                </h5>
                <div id="collapseOne"
                    [ngClass]="{'collapse': !isAccordionOpen('collapseOne'), 'show': isAccordionOpen('collapseOne')}"
                    aria-labelledby="headingOne">
                    <div class="accordion-body">

                        <div class="capture-input-group">
                            <h5 >Axis Scale</h5>
                            <div>
                                <div class="capture-inputs">
                                    <label for="xaxis" class="capture-input-label form-label" >X-Axis</label>
                                    <select type="text" class="form-select capture-input-field form-control" id="xaxis" >
                                        <option class="capture-input-option" value="0.5">0.5x</option>
                                        <option class="capture-input-option" value="1">1x</option>
                                        <option class="capture-input-option" value="2">2x</option>
                                    </select>
                                </div>    
                                <div class="capture-inputs">
                                    <label for="yaxis" class="capture-input-label form-label" >Y-Axis</label>
                                    <select type="text" class="form-select capture-input-field form-control" id="yaxis" >
                                        <option class="capture-input-option" value="0.5">0.5x</option>
                                        <option class="capture-input-option" value="1">1x</option>
                                        <option class="capture-input-option" value="2">2x</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="capture-input-group">
                            <h5>Data Acquisition Rate</h5>
                            <div class="capture-inputs">
                                <input type="text" class="capture-input-field form-control" id="data-acquisition-rate">
                            </div> 
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- Accordion Item 2 -->
            <div class="accordion-item">

                <h5 class="mb-0 accordion-header" id="itemTwo">
                    <button class="accordion-button" type="button" (click)="toggleAccordion('collapseTwo')"
                        [attr.aria-expanded]="isAccordionOpen('collapseTwo')" aria-controls="collapseTwo">
                        FETCH DATA
                    </button>
                </h5>

                <div id="collapseTwo"
                    [ngClass]="{'collapse': !isAccordionOpen('collapseTwo'), 'show': isAccordionOpen('collapseTwo')}"
                    aria-labelledby="headingTwo">
                    <div class="accordion-body">
                        <div>
                            <div class="capture-inputs">
                                <label for="frequency" class="capture-input-label form-label" >Frequency</label>
                                <input type="text" class="capture-input-field form-control" id="frequency" readonly>
                            </div>    
                            <div class="capture-inputs">
                                <label for="peaktopeak" class="capture-input-label form-label" >Peak to Peak</label>
                                <input type="text" class="capture-input-field form-control" id="peaktopeak" readonly>
                            </div>
                            <div class="d-flex justify-content-center capture-btn-container">
                                <button class="btn btn-primary">FETCH</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center m-4">
            <button class="btn btn-primary" *ngIf="start" (click)="toggleStartStop()">START</button>
            <button class="btn btn-danger" *ngIf="!start" (click)="toggleStartStop()">STOP</button>
        </div>
    </div>
</div>